streamlit>=1.47.0
python-dotenv>=1.1.1
tqdm>=4.67.1
langchain>=0.3.27
langchain-classic>=1.0.0
langchain-community>=0.3.29
langchain-core>=0.3.74
langchain-text-splitters>=0.3.9
langchain-google-genai>=2.1.10
langchain-groq
langchain-chroma
chromadb>=1.0.20
sentence-transformers>=3.0.0
langchain-huggingface
torch
torchvision
pypdf>=5.0.0
python-docx>=1.2.0
numpy>=1.26.0
pandas>=2.0.0
scikit-learn>=1.3.0
ragas>=0.2.0
protobuf>=5.0.0
typing-extensions>=4.11.0
