#==================================================
# Core Libraries
#==================================================
streamlit>=1.47.0
python-dotenv>=1.1.1
tqdm>=4.67.1
#==================================================
# Langchain
#==================================================
langchain>=0.3.27
langchain-classic>=1.0.0
langchain-community>=0.3.29
langchain-core>=0.3.74
langchain-text-splitters>=0.3.9
langchain-google-genai>=2.1.10
#==================================================
# Vector Database
#==================================================
chromadb>=1.0.20
#==================================================
# Embeddings
#==================================================
sentence-transformers>=5.1.0
#==================================================
# Document Loading
#==================================================
pypdf>=6.0.0
python-docx>=1.2.0
#==================================================
# Machine Learning
#==================================================
numpy>=2.3.2
pandas>=2.3.2
scikit-learn>=1.7.1
#==================================================
# Evaluation
#==================================================
ragas>=0.3.4


#==================================================
# Utilities
#==================================================

protobuf>=6.32.0
typing-extensions>=4.15.0